body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
}

.btn {
    height: 100px;
    width: 100px;
    border-radius: 20%;
    border: 5px solid black;
    display: inline-block;
    line-height: 100px;
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #d95980;
}

.purple {
    background-color: #819ff9;
}

.green {
    background-color: #63aac0;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}

@media (min-width: 600px) {
    .btn {
        height: 150px;
        width: 150px;
        line-height: 150px;
    }
}

@media (min-width: 768px) {
    .btn {
        height: 200px;
        width: 200px;
        line-height: 200px;
    }
}
